<ul class="thumbnails">
  <% cats.each do |cat| %>
  	<li class="span2">
  		<div class="thumbnail">
    		<%= link_to cat do %>
      		<%= image_tag(cat.image_url) %>
    		<% end %>
    	</div>
    </li>
  <% end %>
  <% if cats.empty? %>
    <li class="span9">None</li>
  <% end %>
</ul>