<% unless @cats.finished.empty? %>
	<h1 class="hr">Approved cats</h1>
	<%= render :partial=>'cats', :locals=>{:cats=>@cats.finished} %>
<% else %>
	<h1 class="hr">No approved cats</h1>
  <p><%= link_to 'â† Back', :back, :class => 'btn'  %></p>
<% end %>