<div class="back">
	<%= link_to '← Back to home', root_path %>
</div>
<% unless @cats.finished.empty? %>
	<h1 class="hr"><%= @cats.finished.count.to_s %> cats approved</h1>
	<%= render :partial=>'cats', :locals=>{:cats=>@cats.finished} %>
<% else %>
	<h1 class="hr">No approved cats</h1>
  <p><%= link_to '← Back', :back, :class => 'btn'  %></p>
<% end %>