<h1>Upside down cat eyes</h1>
<p class="notice">This is a live sandbox test site for <a href="http://www.sharedworkforce.com">Shared Workforce</a>. Please give it a try!</p>
<p><%= link_to 'New cat', new_cat_path %></p>

<div>
  <%= render :partial=>'cats', :locals=>{:cats=>@cats.finished} %>
</div>

<h2>Pending cats</h2>
<div>
  <%= render :partial=>'cats', :locals=>{:cats=>@cats.pending} %>
</div>

<h2>Rejected cats</h2>
<div>
  <%= render :partial=>'cats', :locals=>{:cats=>@cats.rejected} %>
</div>