<% unless @cats.pending.empty? %>
	<h1 class="hr">Pending cats</h1>
	<%= render :partial=>'cats', :locals=>{:cats=>@cats.pending} %>
<% else %>
  <h1 class="hr">No pending cats</h1>
  <p><%= link_to 'â† Back', :back, :class => 'btn'  %></p>
<% end %>